html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* all content  */
#container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

/* top of the screen */
#color-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #F06E72;
    margin: 0;
    color: #ffffff;
    width: 100%;
    min-height: 25vh;
    box-sizing: border-box; /* ensures padding doesn't add to width */
}

#color-area-content {
    margin: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}

#imgs-container {
    margin: 20px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}

#food-item {
    width: 140px;
    height: 140px;
}

#heart-emoji {
    width: 30px;
    height: 30px;
}

#ingredients-container {
    margin: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

h2 {
    font-weight: 600;
    margin-bottom: 0px;
    color: #1b263b;
}

#ingredients-container ul, ol {
    background: #F5F5F5;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 10px;
}

#ingredients-container ul, ol, li, ol {
    font-weight: 400;
    color: #1b263b;
}

